<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/bitfoundation/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="hamedhajiloo" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>
